/*variables*/
/*COLORS*/
/*primary*/
$grayish_blue: hsl(27, 18%, 59%);
$soft_red: hsl(345, 95%, 68%);
/*neutral*/
$white: hsl(0, 0%, 100%);
$dark_desaturated_blue: hsl(236, 21%, 26%);
$very_dark_blue: hsl(235, 16%, 14%);
$very_dark_mostly_black_blue: hsl(234, 17%, 12%);
$third_text_color: hsl(237, 18%, 59%);

/*Typography*/
$red_hat_text: 'Red Hat Text',
sans-serif;
;

/*functions*/
@mixin border-stroke($val) {
    @if $val==light {
        border: solid 1px white;
    }

    @else if $val==medium {
        border: solid 3px white;
    }

    @else if $val==heavy {
        border: solid 6px white;
    }

    @else {
        border: none;
    }
}

/*The above is just visible in the scss file*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body {
    font-size: 14px;
    font-family: $red_hat_text;
    background-color: $very_dark_mostly_black_blue;
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    //@include border-stroke(heavy);
    min-width: 300px;
}

.title-container {
    // @include border-stroke(light);
    color: $white;
    text-align: center;
    width: 90%;
    margin: 0 auto;

    h1 {
        font-size: 1.2857143em;
        /* 18px / 14px*/
        font-weight: normal;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        //@include border-stroke(light);
        width: 90%;
        margin: 0 auto;
    }

    padding: 6em 0;
}

.time-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    width: 50%;
    margin: 0 auto;
    //@include border-stroke(medium);

    .time {
        //@include border-stroke(lighting);
        color: $third_text_color;
        text-align: center;
        padding: 2em;
        font-size: 1.5vw;
    }

    .watch {
        color: $soft_red;
        text-align: center;
        //@include border-stroke(light);
        font-size: 5vw;
        font-weight: bold;
    }
}

.attribution {
    color: white;
}
.attribution a {
    color: $soft_red;
}
footer {
	//@include border-stroke(light);
	position: absolute;
	bottom: 0;
	width: 100%;
	figure {
		display: flex;
		//@include border-stroke(light);
		justify-content: center;

		img {
			padding: 1em;
			cursor: pointer;
		}
	}
}
@media screen and (max-width: 600px) {
    .time-container {
        width: 90%;

        .watch {
            font-size: 3.0rem;
        }

        .time {
            font-size: 0.6rem;
        }
    }
}


//APRENDIENDO A USAR MIXIN CON FOR EN SASS
//@mixin border($val) {
//	@for $i from 1 to 5 {
//		.text-#{$i} {
//			border: solid $i * $val white;
//			width: 10% * $i;
//		};
//	}
//}
//.text-container {
//	@include border(2px);
//}

